body {
  /* height: 400vh; */
  text-transform: lowercase;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 300;
}

/* ----------Navbar----------- */

.navFile {
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

.container-fluid {
  padding: 0;
  padding-top: 20px;
}

.navbar {
  padding: 0;
}

.navGap {
  height: 100px;
}

/* pq Logo */

.pqText {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100px;
  bottom: 10px;
  height: 41px;
  font-weight: 300;
}

.pqText p {
  height: 41px;
  /* top: 4px; */
  color: grey;
  bottom: 7px;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  margin: 0;
}

.pqText:hover {
  font-weight: 400;
}

.pqMirror {
  transform: scale(-1, 1);
}

.navLogo {
  margin: 0;
  /* border-bottom: 1px solid rgb(222,226,230); */
  padding: 0;
}

/* Center Nav */

.customNav {
  position: sticky;
  justify-self: center;
}

.middleNav {
  bottom: 0;
}

.nav-link {
  margin: 0 3%;
}

.nav-link:hover {
  font-weight: 400;
}

.navbar-toggler {
  width: 60px;
  margin-right: 20px;
  text-align: center;
}

/* Nav Socials */

.navInvRight {
  width: 100px;
  margin: 0;
  /* border-bottom: 1px solid rgb(222,226,230); */
  height: 42px;
}

/* Nav Media Queries */

@media (max-width: 576px) {
  .nav-link {
    font-size: 1.5rem;
  }

  .navInvRight {
    display: none;
  }

  .navLogo {
    border: 0px;
  }
}

@media (min-width: 575) {
  .navbar-collapse {
    height: 41px;
  }
}

