body {
  /* height: 400vh; */
  text-transform: lowercase;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 300;
}

body:hover {
  cursor:default;
}

/* ----------Navbar----------- */

.navFile {
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

.container-fluid {
  max-width: 1400px;
  padding: 0;
  padding-top: 20px;
}

.navbar {
  padding: 0 0 10px;
}

.navGap {
  height: 100px;
}

/* pq Logo */

.pqText {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100px;
  margin-right: 124px;
  bottom: -10px;
  height: 41px;
  font-weight: 300;
}

.pqText p {
  height: 41px;
  /* top: 4px; */
  color: grey;
  bottom: 10px;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  margin: 0;
}

.pqText:hover {
  font-weight: 400;
}

.pqMirror {
  transform: scale(-1, 1);
}

.navLogo {
  margin: 0;
  /* border-bottom: 1px solid rgb(222,226,230); */
  padding: 0;
}

/* Center Nav */

.customNav {
  position: sticky;
  justify-self: center;
}

.middleNav {
  bottom: 0;
}

.nav-link {
  margin: 0 3%;
}

.nav-link:hover {
  font-weight: 400;
}

.navbar-toggler {
  width: 60px;
  margin-right: 20px;
  text-align: center;
}

/* Nav Socials */

.navInvRight {
  /* width: 100px; */
  margin: 10px 27px 0;
  /* border-bottom: 1px solid rgb(222,226,230); */
  height: 42px;
  position: relative;
  
}

.navLogo {
  height: 32px;
  padding: 0 14px 0 10px;
}

/* Nav Media Queries */

@media (max-width: 1063px) {
  .email2Delete {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 1.5rem;
  }

  .navInvRight {
    display: none;
  }

  .navLogo {
    border: 0px;
  }

  .navLogoDD {
    height: 32px;
    width: 32px;
    margin: 12px 12px 30px;
  }

}

@media (min-width: 767px) {
  .navbar-collapse {
    height: 41px;
  }
  .burgerSocials {
    display: none;
  }
  .navLogoDD {
    padding: 24px;
  }
  
}

